<template name="projectSubmit">
  <form class="main form">
    <div class="form-group">
      <label class="control-label" for="name">NAME</label>
      <div class="controls">
          <input name="name" id="name" type="text" value="" placeholder="Project Name" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="SOW">SOW NUMBER</label>
      <div class="controls">
          <input name="sow" id="sow" type="text" value="" placeholder="SOW Number" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
  </form>
</template>